.wrapper {
  padding: 1em;
}

.channelsSegment {
  margin-top: 1.5em !important;
}

.subscriptionsSegment {
  margin-top: 1.5em !important;
}

.urlCell {
  word-break: break-all;
  font-family: monospace;
  font-size: 0.9em;
}
